:root {
  --cor-primaria: #e2d5de;
  --cor-secundaria: #386bc0;
  --cor-terciaria: #b0c4de;
  --cor-quaternaria: #4682b4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--cor-primaria);
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}
